.smart-tooltip-container {
        position: relative;
        background: #e5c388;
        padding: 10px;
        border-radius: 4px;
        border: none;
        font-weight: bold;
        color: white;
}

.smart-tooltip-container:hover .smart-tooltip {
        display: block;
}

.smart-tooltip {
        position: absolute;
        background-color: #333;
        border-radius: 3px;
        font-size: 10px;
        color: #eee;
        padding: 30px;
        z-index: 100000;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        left: 50%;
        display: none;
}

.smart-tooltip.left-t {
        -webkit-transform: none;
        transform: none;
        right: calc(100% + 5px);
        left: initial;
        top: 5px;
        bottom: initial;
}

.smart-tooltip.left-b {
        -webkit-transform: none;
        transform: none;
        right: calc(100% + 5px);
        left: initial;
        top: initial;
        bottom: 5px;
}

.smart-tooltip.left {
        right: calc(100% + 5px);
        left: initial;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}

.smart-tooltip.right-b {
        -webkit-transform: none;
        transform: none;
        display: none;
        left: calc(100% + 5px);
        top: initial;
        bottom: 5px;
}

.smart-tooltip.right-t {
        -webkit-transform: none;
        transform: none;
        left: calc(100% + 5px);
        top: 5px;
        right: initial;
        bottom: initial;
}

.smart-tooltip.right {
        left: calc(100% + 5px);
        top: 50%;
        bottom: initial;
        right: initial;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}

.smart-tooltip.bottom {
        display: none;
        top: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
}

.smart-tooltip.top {
        display: none;
        bottom: calc(100% + 5px);
        left: 50%;
         transform: translateX(-50%);
}
